<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>704</integer>
	<key>capHeight</key>
	<integer>2147483647</integer>
	<key>descender</key>
	<integer>-192</integer>
	<key>familyName</key>
	<string>Néo-castel</string>
	<key>openTypeHeadCreated</key>
	<string>2013/06/27 05:17:11</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>:-)</string>
	<key>openTypeNameRecords</key>
	<array>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1036</integer>
			<key>nameID</key>
			<integer>0</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Max Lillo</string>
		</dict>
	</array>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>Neo-castel-:-</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>styleMapFamilyName</key>
	<string>Néo-castel :-)</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>:-)</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>512</integer>
</dict>
</plist>
